html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--very-light-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 171px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.002em;
    color: var(--very-light-gray);
    margin-top: 35px;
}

p {
    font-size: 15px;
    line-height: 165%;
    color: var(--transparent-white);
    width: 211px;
    margin-top: 25px;
}

button {
    margin-top: 83px;
    border-radius: 100px;
    border: 2px solid var(--very-light-gray);
    background-color: var(--very-light-gray);
    padding: 12px 32px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    transition: background-color 300ms cubic-bezier(0.5, 0, 0, 1),
                color 300ms cubic-bezier(0.5, 0, 0, 1);
}

.button_sedans {
    color: var(--bright-orange);
}

.button_suvs {
    color: var(--dark-cyan);
}

.button_luxury {
    color: var(--very-dark-cyan);
}

.sedans {
    background-color: var(--bright-orange);
    padding: 48px;
}

.suvs {
    background-color: var(--dark-cyan);
    padding: 48px;
}

.luxury {
    background-color: var(--very-dark-cyan);
    padding: 48px;
}

.attribution {
    position: absolute;
    bottom: 30px;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.button_sedans:hover {
    cursor: pointer;
    background-color: var(--bright-orange);
    color: var(--very-light-gray);
}

.button_suvs:hover {
    cursor: pointer;
    background-color: var(--dark-cyan);
    color: var(--very-light-gray);
}

.button_luxury:hover {
    cursor: pointer;
    background-color: var(--very-dark-cyan);
    color: var(--very-light-gray);
}

@media screen and (max-width: 1000px) {
    body {
        position: relative;
        height: auto;
        margin-top: 88px;
    }

    .card {
        margin-top: 0;
        margin-bottom: 88px;
        flex-direction: column;
    }

    button {
        margin-top: 25px;
    }

    .attribution {
        font-size: 12px;
    }
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}